<% modal ||= false %>
<% remote = modal ? true : false %>

<%= simple_form_for(@bailleur, remote: remote, html: {role: :form, 'data-model' => 'bailleur'}) do |f| %>
    <% if @bailleur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bailleur.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @bailleur.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-inputs">
    <%= f.input :civilite, as: :select, collection: Bailleur::CIVILITES, include_blank:  "Select a category" %>
    <%= f.input :nom %>
    <%= f.input :prenom %>
    <%= f.input :nomMme %>
    <%= f.input :prenomMme %>
    <%= f.input :nomDeux %>
    <%= f.input :prenomDeux %>
    <%= f.input :nomSociete %>
    <%= f.input :nRcs %>
    <%= f.input :tva %>
    <%= f.input :nomIndivision %>
    <%= f.input :adresse %>
    <%= f.input :codePostal %>
    <%= f.input :ville %>
    <%= f.input :representant %>
    <%= f.hidden_field :user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>


<% end %>
