<tr>
  <td><%= bailleur.nom %></td>
  <td><%= bailleur.prenom %></td>
  <td><%= link_to 'Show', bailleur %></td>
  <td><%= link_to 'Edit', edit_bailleur_path(bailleur) %></td>
  <td><%= link_to 'Destroy', bailleur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
