<p id="notice"><%= notice %></p>

<h1>Bailleurs</h1>

<table>
  <thead>
    <tr>
      <th>Civilite</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Nommme</th>
      <th>Prenommme</th>
      <th>Nomdeux</th>
      <th>Prenomdeux</th>
      <th>Nomsociete</th>
      <th>Nrcs</th>
      <th>Tva</th>
      <th>Nomindivision</th>
      <th>Adresse</th>
      <th>Codepostal</th>
      <th>Ville</th>
      <th>Representant</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bailleurs.each do |bailleur| %>
      <tr>
        <td><%= bailleur.civilite %></td>
        <td><%= bailleur.nom %></td>
        <td><%= bailleur.prenom %></td>
        <td><%= bailleur.nomMme %></td>
        <td><%= bailleur.prenomMme %></td>
        <td><%= bailleur.nomDeux %></td>
        <td><%= bailleur.prenomDeux %></td>
        <td><%= bailleur.nomSociete %></td>
        <td><%= bailleur.nRcs %></td>
        <td><%= bailleur.tva %></td>
        <td><%= bailleur.nomIndivision %></td>
        <td><%= bailleur.adresse %></td>
        <td><%= bailleur.codePostal %></td>
        <td><%= bailleur.ville %></td>
        <td><%= bailleur.representant %></td>
        <td><%= bailleur.user %></td>
        <td><%= link_to 'Show', bailleur %></td>
        <td><%= link_to 'Edit', edit_bailleur_path(bailleur) %></td>
        <td><%= link_to 'Destroy', bailleur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bailleur', new_bailleur_path %>
